<h1>Buscando: <small>{{ termino }}</small></h1>
<hr>

<div class="row animated fadeIn fast" *ngIf="heroes.length == 0">
    <div class="col-md-12">
        <div class="alert alert-info" role="alert">
            <strong>No existe resultados con el termino {{ termino }}</strong>
        </div>
    </div>
</div>

<div class="card-columns">

    <div class="card a animated fadeIn fast" *ngFor="let heroe of heroes; let i = index">
        <!-- [src] y [alt]  , las llaves es para decir que lo manejara angular -->
        <img [src]="heroe.img" class="card-img-top img-fluid" [alt]="heroe.nombre">
        <div class="card-body">
            <!-- {{ heroe.nombre}} usar corchetes para hacer interpolacion -->
            <h5 class="card-title">{{ heroe.nombre }}</h5>
            <p class="card-text">{{ heroe.bio }}</p>
            <p class="card-text"><small class="text-muted">{{ heroe.aparicion }}</small></p>

            <!-- <button (click)="verHeroe(i)" type="button" class="btn btn-outline-primary btn-block">
                Apreta pe causha
            </button> -->

            <a [routerLink]="['/heroe', i]" class="btn btn-outline-primary">Ver más Link....</a>

        </div>
    </div>

</div>